{% extends "base.html" %} {% block title %}Gestión de Estudiantes{% endblock %}
{% block content %}

<div class="header">
    <h1>Gestión de Estudiantes</h1>
    <a href="{{ url_for('nuevo_estudiante') }}" class="btn create-btn">Registrar Estudiante</a>
</div>

{% with messages = get_flashed_messages(with_categories=true) %} {% if messages
%} {% for category, message in messages %}
<div class="alert alert-{{ category }}">{{ message }}</div>
{% endfor %} {% endif %} {% endwith %}

{% for estudiante in estudiantes %}
	<div class="card">
		<div>
			<h2>{{ estudiante.nombre }} {{ estudiante.apellido }}</h2>
			<p>Código: {{ estudiante.codigo_estudiante }}</p>
		</div>
		<div class="action-buttons">
			<a href="{{ url_for('editar_estudiante', estudiante_id=estudiante.id) }}" class="btn btn-card">Editar</a>
			<a href="{{ url_for('detalle_inscripcion_estudiante', estudiante_id=estudiante.id) }}" class="btn btn-card">Ver materias inscritas</a>
			<form action="{{ url_for('eliminar_estudiante', estudiante_id=estudiante.id) }}" method="POST" style="display:inline;" onsubmit="return confirm('¿Seguro que deseas eliminar este estudiante?');">
				<button type="submit" class="btn btn-delete">Eliminar</button>
			</form>
		</div>
	</div>
{% else %}
	<p>No hay estudiantes registrados.</p>
{% endfor %}
{% endblock %}