{% extends "base.html" %} {% block title %}{% if estudiante %}Editar{% else
%}Nuevo{% endif %} Estudiante{% endblock %} {% block content %}
<h1>{% if estudiante %}Editar{% else %}Añadir Nuevo{% endif %} Estudiante</h1>

<div class="form-card">
	<form method="POST">
		<div style="margin-bottom: 15px">
			<label for="nombre">Nombre:</label>
			<input type="text" id="nombre" name="nombre" value="{{ estudiante.nombre if estudiante else '' }}" required
			/>
		</div>
		<div style="margin-bottom: 15px">
			<label for="apellido">Apellido:</label>
			<input type="text" id="apellido" name="apellido" value="{{ estudiante.apellido if estudiante else '' }}" required />
		</div>
		<div style="margin-bottom: 20px">
			<label for="codigo_estudiante">Código de Estudiante:</label>
			<input type="text" id="codigo_estudiante" name="codigo_estudiante" value="{{ estudiante.codigo_estudiante if estudiante else '' }}" required />
		</div>

		<div class="form-buttons">
			<button type="submit" class="btn btn-accept">Guardar Cambios</button>
			<a href="{{ url_for('lista_estudiantes') }}" class="btn btn-cancel">Cancelar</a>
		</div>
	</form>
</div>
{% endblock %}
