{% extends "base.html" %} {% block title %}Asistencia para {{
materia.nombre_materia }}{% endblock %} {% block content %}
<h2>Tomar Asistencia para: {{ materia.nombre_materia }}</h2>

<div class="form-card no-padding-top">
	<form action="{{ url_for('registrar_asistencia') }}" method="POST">
		<input type="hidden" name="materia_id" value="{{ materia.id }}" />
		<input type="hidden" name="fecha" value="{{ today }}" />
		
		<p>Asistencia para la fecha: {{ today }}</p>
		<h3>Estudiantes Inscritos</h3>
		
		<table>
			<thead>
				<tr>
					<th>Código</th>
					<th>Nombre Completo</th>
					<th>Presente</th>
				</tr>
			</thead>
			<tbody>
				{% for inscripcion in inscripciones %}
				<tr>
					<td>{{ inscripcion.estudiante.codigo_estudiante }}</td>
					<td>
						{{ inscripcion.estudiante.nombre }} {{
						inscripcion.estudiante.apellido }}
					</td>
					<td>
						<input type="checkbox" name="presente" value="{{ inscripcion.id }}" checked/>
					</td>
				</tr>
				{% else %}
				<tr>
					<td colspan="3">No hay estudiantes inscritos en esta materia.</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<br />

		<div class="form-buttons">
			<button type="submit" class="btn btn-accept">Registrar Asistencia</button>
		</div>
	</form>
</div>
{% endblock %}
